@import '../../../../assets/styles/variables.scss';

:host {

    display: inline-block;
    font-size: .9rem;
    padding: .4rem 1rem;

    &[typeButton="btn-primary"] {
        background: $unnamed-color-ffffff;
        color: $unnamed-color-003262;
        font-weight: 600;
    }

    &[typeButton="btn-secondary"] {
        background: $unnamed-color-003262;
        color: $unnamed-color-ffffff;
        font-weight: 600;
    }

    &[typeButton="btn-success"] {
        background: $unnamed-color-42c0b6;
        color: $unnamed-color-ffffff ;
        font-weight: 600;
    }
}