@import "../../../../assets/styles/variables.scss";

:host {

    display: block;

    .cronograma-card {

        padding: 2rem;
        background: transparent;
        border: 2px solid $unnamed-color-42c0b6;
        width: 100%;
        height: 100%;
    }

    .periodo-label::after {

        content: "";
        display: block;
        position: relative;
        width: 10%;
        height: 2px;
        top: .4rem;
        background-color: $unnamed-color-42c0b6;

    }
}