<section class="container md:mx-auto sm:mx-2 py-16 px-8">
    <h2 class="text-color-secondary font-bold md:text-3xl text-xl text-center">PREMIAÇÃO</h2>

    <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-8 mt-10">

        <div class="flex flex-col items-center justify-center gap-1">
            <img class="md:size-32 size-28" src="assets/imgs/1lugar.svg" alt="primeiro lugar">
            <h4 class="font-bold text md:text-xl text-lg text-color-primary">1° LUGAR</h4>
            <strong>R$ 5.000,00 + troféu</strong>
        </div>

        <div class="flex flex-col items-center justify-center gap-1">
            <img class="md:size-32 size-28" src="assets/imgs/2lugar.svg" alt="primeiro lugar">
            <h4 class="font-bold text md:text-xl text-lg text-color-primary">2° LUGAR</h4>
            <strong>R$ 3.000,00 + troféu</strong>
        </div>

        <div class="flex flex-col items-center justify-center gap-1">
            <img class="md:size-32 size-28" src="assets/imgs/3lugar.svg" alt="primeiro lugar">
            <h4 class="font-bold text md:text-xl text-lg text-color-primary">3° LUGAR</h4>
            <strong>R$ 2.000,00 + troféu</strong>
        </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center gap-8 mt-14">
        <a id="regulamento" app-button typeButton="btn-secondary" class="flex-1 md:max-w-80 min-h-16">CONFIRA O
            REGULAMENTO</a>
        <button app-button typeButton="btn-secondary" class="flex-1 md:max-w-80 min-h-16">FAÇA SUA INSCRIÇÃO</button>
    </div>
</section>