<footer class="px-8 py-8">
    <div class="container mx-auto ">
        <div class="flex flex-col md:flex-row gap-4 items-center md:justify-between">
            <a href="www.holambra.com.br" class="text-white">www.holambra.com.br</a>

            <div class="flex gap-4">
                <img src="assets/imgs/ico-facebook.svg" alt="facebook">
                <img src="assets/imgs/ico_instagram.svg" alt="instagram">
                <img src="assets/imgs/ico_linkedin.svg" alt="linkedin">
            </div>
        </div>

        <div class="flex flex-col md:flex-row gap-4 items-center md:justify-between mt-4">
            <span class="text-white text-xs">© 2021 Cooperativa Agroindustrial Holambra</span>
            <span class="text-white text-xs">Desenvolvido por Innova</span>
        </div>
    </div>
</footer>