<header class="home-nav py-2">
    <app-navbar></app-navbar>

    <section class="grid grid-cols-2 gap-32 container mx-auto justify-items-center items-center mt-4">

        <div class="w-3/4">
            <h2 class="text-color-primary font-bold text-3xl">DESAFIO DE INOVAÇÃO HOLAMBRA COOPERATIVA</h2>
            <p class="text-white text-base">É hora de colocar seu projeto em prática e fazer a diferença no dia a dia
                dos
                produtores rurais.</p>
            <button>INSCREVA-SE</button>
        </div>

        <div>
            <img src="assets/imgs/logo_visibilidade.svg" class="w-3/4" alt="olho">
        </div>

    </section>
</header>