<header class="home-nav pt-2 pb-16 px-8">
    <app-navbar></app-navbar>
    <section
        class="grid md:grid-cols-2 sm:grid-cols-1 md:gap-32 gap-10 container mx-auto justify-items-center items-center mt-20">
        <div class="md:w-3/4 sm:w-full ">
            <h2 class="text-color-primary font-bold text-3xl">DESAFIO DE INOVAÇÃO HOLAMBRA COOPERATIVA</h2>
            <p class="text-white text-base mt-4">É hora de colocar seu projeto em prática e fazer a diferença no dia a
                dia
                dos
                produtores rurais.</p>
            <a href="#inscricao" app-button typeButton="btn-primary" class="mt-4 max-w-40">INSCREVA-SE</a>
        </div>
        <div class="flex items-center justify-center">
            <img src="assets/imgs/logo_visibilidade.svg" class="w-3/4" alt="olho">
        </div>
    </section>
</header>