@import './variables.scss';

.text-color-primary {
    color: $unnamed-color-42c0b6;
}

.text-color-secondary {
    color: $unnamed-color-003262;
}

.text-color-success {
    color: $unnamed-color-42c0b6;
}