$unnamed-color-42c0b6: #42C0B6;
$unnamed-color-9bafc6: #9BAFC6;
$unnamed-color-e7ecf2: #E7ECF2;
$unnamed-color-f04b54: #F04B54;
$unnamed-color-003262: #003262;
$unnamed-color-212529: #212529;
$unnamed-color-ffffff: #FFFFFF;