<div class="flex flex-col">
    <div class="flex items-center gap-2">
        <img src="assets/imgs/ico_desafio1.svg" alt="icone-desafio">
        <h4 class="text-color-secondary font-medium text-2xl">Gestão e Monitoramento de Recursos Hídricos</h4>
    </div>
    <ul>
        <li>
            Tecnologias e automação de sistemas irrigados por meio de soluções que visam melhorar a eficiência e
            eficácia na
            utilização dos recursos hídricos.
        </li>
        <li>
            Novas tecnologias relacionadas ao tema deste item.
        </li>
    </ul>
</div>