@import '../../../../assets/styles/variables.scss';

:host {
    display: block;

    ul {
        li::before {
            content: '\2192';
            font-size: 1.5rem;
            color: $unnamed-color-42c0b6 ;
        }
    }

}